<ng-container *ngIf="!userCredentials">
  <p-card header="Testing Google Sign In!" subheader="Not signed in">
    <p-footer>
      <p-button icon="pi pi-google" label="Sign in with Google " (onClick)="signInWithGoogle()"></p-button>
    </p-footer>
  </p-card>
</ng-container>

<ng-container *ngIf="userCredentials" class="card text-center">
  <p-button icon="" label="Get user list " (onClick)="getUsers()"></p-button>

  <p-table [columns]="columnHeaders" [value]="userList" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
</ng-container>
